<!DOCTYPE html>
<html ng-app='waduApp'>
<head>
  <title>Wadu</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %></script>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHGP6oUn6koVvWN5IPGH3z8rHnL_jmhpU&libraries=places&sensor=true"></script>
</head>
<body onload="initialize()">

  <div id="user_nav">
    <% if current_user %>
      <%= image_tag @graph.get_picture('me') %>
      Signed in as <strong><%= current_user.name %></strong>!
      <%= link_to "Sign out", signout_path, id: "sign_out" %>
    <% else %>
      <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
    <% end %>
  </div>

  <%= yield %>
  <div id="map_canvas" style="width:800px; height:600px"></div>
</body>
</html>
